<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Employer.com, <%= @emp.name %></h1>
    <p>
      You have requested to change your password,
      please click the link.<br>
    </p>
    <p>
      Update password, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>